<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- FineBill(銀行端:企業付款委外服務) Web.config 說明:[]內為變更時可異動參數值,其餘皆不得更動 -->
    <!-- Start 資料庫連接訊息 適用於Utility.GetDataService() -->
    <!-- SQL Server名稱 or IP : value="data srouce=[伺服器名稱 or IP];" -->
    <add key="DataSource" value="SEB00ETD11.corpnet.landbankt.com.tw\MSSQLTA,1433" />
    <!-- 資料庫認證方式: value= "WINDOWS" or "SQLCLIENT" -->
    <add key="SqlAuthType" value="SQLCLIENT" />
    <!-- 資料庫名稱: value="database=[資料庫名稱];"-->
    <add key="DataBase" value="LBeBilling" />
    <!--中心廠專屬DB名稱: value="[建立資庫名稱]" 適用於 clsCompanyMain.DataBaseName = 建立資庫名稱 + 統一編號-->
    <add key="CompanyDB" value="LBeBilling_Data" />
    <!-- 資料庫使用者: value="[加密過的使用者id];" 加密過的使用者id=Crypt.Encrypt(UserID)-->
    <add key="DBUserID" value="FeACePYFD2jpQncsZusvDA==" />
    <!-- 使用者密碼: value="[加密過的使用者密碼];" 加密過的使用者密碼=Crypt.Encrypt(UserID)-->
    <add key="DBPassword" value="YITN4pgbh57ud1mBiW5aRA==" />
    <!-- End 資料庫連接訊息 適用於DbService.GetDataService() -->
    <!-- Start 網站設定參數 -->
    <!--此網站的網址: value="[網站絕對網址或相對網址]" 適用於 APUtility.GetVRoot() -->
    <add key="VRoot" value="/EB/Bank/FineBill" />
    <!--起始頁面: value="[網站絕對網址或相對網址]" 適用於 APUtility.GetStartPage() -->
    <add key="StartPage" value="RtBoard.aspx" />
    <!-- Exception 通知人員，預設為公務信箱 -->
    <add key="ExceptionNotifyWorker" value="SCOM_EB@landbankt.com.tw" />
    <!-- End 網站設定參數 -->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="serviceDebuBehavior">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_WCFAPService" maxReceivedMessageSize="2147483647" openTimeout="12:00:00" receiveTimeout="12:00:00" closeTimeout="12:00:00" sendTimeout="12:00:00">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
        <binding name="BasicHttpBinding_WCFAAService" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IBuildFXMLService" maxReceivedMessageSize="2147483647" receiveTimeout="00:10:00" sendTimeout="00:10:00">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAsyncUploadFileService" maxReceivedMessageSize="2147483647" receiveTimeout="00:20:00" sendTimeout="00:20:00">
          <security mode="Transport">
            <transport clientCredentialType="None">
            </transport>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://eflowap.landbankt.com.tw/EB/Service/FineBillAPService/WCFAPService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFAPService" contract="WCFAPService.WCFAPService" name="BasicHttpBinding_WCFAPService" />
      <endpoint address="https://eflowap.landbankt.com.tw/EB/Service/FineBillAAService/WCFAAService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_WCFAAService" contract="WCFAAService.WCFAAService" name="BasicHttpBinding_WCFAAService" />
      <endpoint address="https://eflowap.landbankt.com.tw/EB/Service/APBuildFXMLService/BuildFXMLService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBuildFXMLService" contract="BuildFXMLService.IBuildFXMLService" name="BasicHttpBinding_IBuildFXMLService" />
      <endpoint address="https://eflowap.landbankt.com.tw/EB/Service/AsyncUploadFileService/AsyncUploadFileService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAsyncUploadFileService" contract="AsyncUploadFileService.IAsyncUploadFileService" name="BasicHttpBinding_IAsyncUploadFileService" />
    </client>
  </system.serviceModel>
  <system.webServer>
    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
      <mimeMap fileExtension=".woff2" mimeType="application/x-font-woff" />
    </staticContent>
  </system.webServer>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" /></startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PdfSharp" publicKeyToken="f94615aa0424f9eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.1.1.0" newVersion="6.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reflection.TypeExtensions" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.2" newVersion="4.0.1.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ValueTuple" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Security.Permissions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.5" newVersion="8.0.0.5" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
