<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.Extended" />
  </extensions>
  <variable name="fileName" value="C-${aspnet-session:Variable=UserLog}" />
  <variable name="logFolder" value="C:/Log/EB/Test/"/>
  <targets>
    <target name="file" xsi:type="File"
            fileName="${logFolder}/${fileName}.log"
            archiveFileName="${logFolder}/${fileName}_{###}.log"
            archiveAboveSize="5000000"
            archiveNumbering="Sequence"
            maxArchiveFiles="2"
            encoding="utf-8"
            layout="${longdate}【${threadid}】【${level:uppercase=true}】${message}"
            />
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="file" />
  </rules>
</nlog>
